<ion-header>
  <ion-toolbar>
    <ion-title> Bem-Vindo </ion-title>

    <ion-icon slot="icon-only" name="shuffle"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title class="welcome-card">Spotify do paraguai</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Cópia exata do spotify, fonte confia</p>
    </ion-card-content>
  </ion-card>

  <ion-card class="music-card">
    <ion-card-header>
      <img
        src="https://zinecultural.s3.amazonaws.com/site/uploads/mlib-uploads/full/16208511317.webp"
      />
    </ion-card-header>
    <ion-card-content text-center>
      <h2>29 #Tops Forro de Maricá</h2>
      <p>1- Forrozão do Manhoso</p>

      <ion-progress-bar value="{.25}"></ion-progress-bar>

      <ion-button color="dark" fill="clear" size="small">
        <ion-icon slot="icon-only" name="shuffle"></ion-icon>
      </ion-button>
      <ion-button color="dark" fill="clear" size="large">
        <ion-icon slot="icon-only" name="play-back"></ion-icon>
      </ion-button>
      <ion-button color="dark" fill="clear" class="button-largest">
        <ion-icon slot="icon-only" name="play"></ion-icon>
      </ion-button>
      <ion-button color="dark" fill="clear" size="large">
        <ion-icon slot="icon-only" name="play-forward"></ion-icon>
      </ion-button>
      <ion-button color="dark" fill="clear" size="small">
        <ion-icon slot="icon-only" name="repeat"></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
